VITE_CLIENT_API_URL=http://127.0.0.1:8081

# use `ftp-grpc-server` as ip address if using docker compose
# or stick to 127.0.0.1 for local development
VITE_SERVER_API_URL=http://{check server IP address}:50052