DESTINATION_HOST=0.0.0.0
DESTINATION_PORT=50053

# either get a URI from Atlas or use the docker container.
# the container name is `mongoBank` as set in the docker compose file.
# if using the docker compose for mongo, use the same username & password in `runner/.env`
MONGO_URI=mongodb://<username>:<password>@mongoBank:27017/?authSource=admin
