# to test inside docker, enter a path inside /app
FILE_PATH=
AGENTIC_MODE=

# ip address of the admin server
# use `ftp-grpc-server` if using docker compose 
ADMIN_SERVER_HOST=127.0.0.1
ADMIN_SERVER_PORT=50051

# name of the admin server
ADMIN_ID=A001

# name of the bank sending (ex: B-HDFC)
SENDER_BANK_ID=SENDER